<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mathbot‍</title>
    <link rel='icon' href='../static/favicon.ico' type="image/png" />
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta property="og:title" content="MathBot" />
    <meta property="og:description" content="chat with our bot" />
    <meta property="og:image" itemprop="image" content="https://github.com/NNboru/botbase/raw/master/static/logo_main.png" />
    <link rel=stylesheet href='../static/index.css' />
</head>

<body id=bdy>
    <div id=error class='hide'></div>
    <div id=loader class='hide'></div>
    
    <img src="../static/edit.png" height='10' width='10' class='edit' onclick='window.location="/update"' />

    <header>
        <a href="https://poka.pythonanywhere.com/EquationPlotter/">
            <img  src="../static/graph.png" height="28" width="28" />
            Graph Plotter
        </a>
        <a href="https://poka.pythonanywhere.com/plotYourFile/">
            <img  src="../static/file.png" height="28" width="28" />
            Data Helper
        </a>
        <a href="http://mathbot-front.herokuapp.com/aboutus">
            <img  src="../static/user.png" height="28" width="28" />
            About Us
        </a>
        
    </header>

    <div class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 col-sm-6">
                    <h1>MathBot</h1>
                    <p>We take inspiration from the World's best github links and programming blogs, 
                        and create a unique fusion of different features. Our brain draining creations 
                        will shatter and break your mind!
                    </p>
                </div>
                <div class="col-12 col-sm-4 mr-auto">
                    <div class="media">
                        <img src="../static/logo_main.png" height="200" width="160" alt="MathBot">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/><br/><br/><br/>
    
    <div id=divchatbot>
        &nbsp; Chat Area :-)
        <div id='allchatmsg'></div>
        <form id=frm6>
            <input type='text' placeholder="chat.." spellcheck="false" autocomplete="off" id='inpchat' />
            <button type="submit">chat</button>
        </form>

    </div>

    <br/><br/>

    <footer>
        <div>© Copyright 2020 MathBot</div>
    </footer>
    
    <script src='../static/index.js'></script>
</body>

</html>


